.task-class {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
.task-class.task {
    border-left: 6px solid #34d399;
}
.task-class.material {
    border-left: 6px solid #60a5fa;
}
.task-class.statement {
    border-left: 6px solid #94a3b8;
}

.status-task {
    padding: 6px;
    font-size: 12px;
    border-radius: 12px;
    font-family: fontSubtitles;
    font-weight: bold;
    margin-bottom: 6px;
    position: absolute;
    top: 8px;
    right: 14px;
    padding: 6px 12px;
}

.status-task.task-pending {
    background-color: #fef9c3;
    border: 1px solid #fef08d;
    color: #966528;
}
.status-task.task-qualified {
    background-color: #dcfce7;
    border: 1px solid #d6fbe3;
    color: #2c7548;
}

.task-class .info-task {
    display: flex;
    gap: 16px;
    & .container-icon {
        padding: 12px;
        border-radius: 10px;
        width: max-content;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        & svg {
            width: 28px;
            height: 28px;
        }
        &.task {
            background-color: #d1fae5;
        }
        &.material {
            background-color: #dbeafe;
        }
        &.announcement {
            background-color: #f1f5f9;
        }
    }
    & .title-task {
        font-family: fontTitlesBold;
    }
}

.btn-task-class {
    margin-top: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 6px 12px;
    border: none;
    outline: none;
    font-family: fontSubtitles;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
    & svg {
        width: 20px;
        height: 20px;
    }
    &.show {
        color: #24adeb;
        background-color: #e6f6fd;
        &:hover {
            background-color: #d1eaf7;
        }
    }
    &.download {
        color: #ffffff;
        background-color: #059669;
        &:hover {
            background-color: #047857;
        }
    }
}