.resources-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    & .button-resource {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: space-between;
        gap: 14px;
        background-color: #f9fafb;
        outline: none;
        border: 2px solid #f4f5f7;
        padding: 8px;
        border-radius: 16px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            scale: 1.05;
            background-color: #f1f1f1;
            transition: all 0.3s ease;
        }
    }

    & .icon-resource {
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        & svg {
            width: 16px;
            height: 16px;
        }
    }
    & .info-resource-button {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        & .name-resource {
            font-family: fontSubtitles;
            font-size: 12px;
            color: #3a404c;
            max-width: 140px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        & .type-source-description {
            margin-top: 2px;
            font-family: fontSubtitles;
            font-size: 11px;
            color: #7a808d;
        }
    }
    & .icon-representational-by-type svg {
        stroke: #aab0bb;
        width: 24px;
        height: 24px;
    }
}