.container-header-option {
    background-color: #fdfdfd;
    border-bottom: 1px solid #dfe6f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 20px 40px;

}
.header-info-option h1{
    font-family: fontTitlesBold;
    color: #122656;
}
.header-info-option .name-user{
    font-family: fontSubtitles;
}