.principal-container-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #1a365d;
    color: #fff;
    max-width: 280px;
    padding: 16px;
    min-height: 100dvh;
}

.principal-container-menu .header-menu {
    display: flex;
    gap: 16px;
}

.header-menu .header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fb3d5;
    padding: 4px;
    border-radius: 12px;
}

.principal-container-menu .modules-menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
}

.principal-container-menu .modules-menu ul a {
    color: #fff;
    text-decoration: none;
}

.principal-container-menu .modules-menu ul a li {
    display: flex;
    align-items: center;
    gap: 14px;
}

.counter-quantity-tasks {
    background-color: #475e7d;
    font-size: 14px;
    color: #bbc7d5;
    padding: 1px 6px;
    border-radius: 6px;
}