.principal-container-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #1a365d;
    color: #fff;
<<<<<<< HEAD
    /*max-width: 280px;*/
    padding: 16px;
    min-height: 100dvh;
    width: 80px;
    transition: width 0.55s cubic-bezier(0.34, 1.56,0.64,1);
}
.principal-container-menu:hover {
    width: 280px;
}
.principal-container-menu:hover .text-module {
    display: block;
}
=======
    /* max-width: 280px; */
    padding: 16px;
    min-height: 100dvh;
    width: 80px;
    transition: width 0.55s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.principal-container-menu:hover {
    width: 280px;
}

.principal-container-menu:hover .text-module {
    display: flex;
}

>>>>>>> c0919f9de6975cb7fb8fb12a89bb151da056f0c0
.text-module {
    display: none;
}
.principal-container-menu .header-menu {
    display: flex;
    gap: 16px;
}

.header-menu .header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fb3d5;
    padding: 4px;
    border-radius: 12px;
}

.principal-container-menu .modules-menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

.principal-container-menu .modules-menu ul a {
    color: #c1ccd9;
    text-decoration: none;
    padding: 12px;
    border-radius: 16px;
}
<<<<<<< HEAD
.principal-container-menu .modules-menu ul a.active {
    background-color:#475e7d;
    color: #fff;
}
=======

.principal-container-menu .modules-menu ul a.active {
    background: #314a6d;
    color: #fff;
}

>>>>>>> c0919f9de6975cb7fb8fb12a89bb151da056f0c0
.principal-container-menu .modules-menu ul a.active svg {
    fill: #7fb3d5;
}
.principal-container-menu .modules-menu ul a li {
    display: flex;
    align-items: center;
    gap: 14px;
}

.counter-quantity-tasks {
    background-color: #475e7d;
    font-size: 14px;
    color: #bbc7d5;
    padding: 1px 6px;
    border-radius: 6px;
}
