.notas-card {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.notas-card h1 {
    font-size: 12px;
    font-family: fontSubtitles;
}

.notas-card p {
    font-size: 10px;
    font-family: fontSubtitles;
    color: #7e8da1;
}

.notas-card .calificacion {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 12px;
    font-family: fontSubtitles;
    background-color: #ede9e9;
    padding: 2px;
    width: 40px;
}

@media (max-width: 768px) {
    .notas-card {
        display: flex;
        width: 100%;
    }

    .notas-card h1 {
        font-size: 15px;
        font-family: fontTitlesBold;
    }
}