.container-all-login {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-pricipal-login {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: stretch;
    box-shadow: 0px 2px 20px 1px #afb0b1;
    border-radius: 18px;
    min-height: 60%;
}

.container-info-login {
    background: #385375;
    background: linear-gradient(144deg, rgba(56, 83, 117, 1) 30%, rgba(82, 124, 160, 1) 63%, rgba(128, 172, 204, 1) 79%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: auto;
    width: 100%;
    border-radius: 18px 0px 0px 18px;
    gap: 16px;
    /* padding: 100px; */
}
.image-login {
    background-color: #5a7c9d;
    border-radius: 50%;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6e86a2;
}

.title-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 360px;
    gap: 12px;
}

.title-login h2 {
    font-family: fontTitlesBold;
    font-size: 30px;

}
.form-login {
    display: flex;
    flex-direction: column;
    background-color: #f4f7f6;
    gap: 26px;
    height: auto;
    padding: 30px;
    border-radius: 0px 18px 18px 0px;
    width: 100%;
}

.form-login header {
    line-height: 30px;
}

.form-login header h2 {
    font-family: fontTitlesBold;
    font-size: 24px;
    color: #1a365d;
}

.fields-form-login {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.fields-form-login footer {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.fields-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.fields-form label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: fontSubtitles;
    color: #1b375e;
}

.fields-form label input {
    background-color: #fff;
    border: 1px solid #87b8d8;
    outline: none;
    border-radius: 6px;
    padding: 12px;
    font-size: 14px;
}

/* Media querie para que el formulario se comporte de diferente forma en
dispositivos con pantalla pequeña 
*/
@media (width <= 760px) {
    .container-pricipal-login {
        flex-direction: column;
    }
    .container-info-login {
        padding: 12px;
        border-radius: 18px;
    }
    .title-login h2 {
        font-size: 22px;
    }
    .title-login p {
        display: none;
    }
}

.remind-me-forgot-password-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
     color: #1b375e;
    font-family: fontSubtitles;
}
.remind-me-forgot-password-form div, 
.remind-me-forgot-password-form button,
.remind-me-forgot-password-form label {
      color: #1b375e;
    font-family: fontSubtitles;
}

.remind-me-forgot-password-form div label,
.remind-me-forgot-password-form button {
    color: #1b375e;
    font-family: fontSubtitles;
}

.remind-me-forgot-password-form div {
    display: flex;
    gap: 6px;
}

.remind-me-forgot-password-form div input[type="radio"] {
    /*DESPUÉS*/
}

.remind-me-forgot-password-form .forgot-password,
.final-part-form .btn-create-account {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.final-part-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.final-part-form .btn-login-form {
    background-color: #1a365d;
    border: none;
    outline: none;
    color: #fff;
    padding: 14px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .25s ease-in-out;
    font-weight: bold;
}

.final-part-form .btn-login-form:hover {
    background-color: #355d96;
    scale: 1.1;
}

.final-part-form .btn-create-account span {
    color: #1b375e;
    font-weight: bold;
}

