@font-face {
  font-family: fontMain;
  src: url("./fonts/Mulish/static/Mulish-ExtraLight.ttf");
}

@font-face {
  font-family: fontTitlesBold;
  src: url("./fonts/Mulish/static/Mulish-ExtraBold.ttf");
}

@font-face {
  font-family: fontSubtitles;
  src: url("./fonts/Mulish/static/Mulish-Medium.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: fontMain;
}

*{
  font-family: fontMain;
}

/* #root {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
