.calendar-classes-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    width: 300px;
    height: 110px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0 15px;
    box-sizing: border-box;
}

.calendar-classes-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.class-state h4 {
    text-align: start;
    color: #000;
    padding-left: 0;
    /* Cambiado de 20px a 0 */
    padding-top: 0;
    /* Cambiado de 20px a 0 */
    margin: 0 0 5px 0;
    /* Añadido margin para separación */
    font-size: 14px;
    font-family: fontsubtitles;
    color: #ffffff;
}

.class-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    color: #ffffff;
}

.class-name span {
    text-align: center;
    padding-left: 0;
    font-size: 25px;
    font-family: fonttitlesbold;
    color: #ffffff;
}

.class-room {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: #ffffff;
}

.class-room svg {
    width: 16px;
    height: 16px;
}

.class-room p {
    padding-left: 0;
    margin: 0;
    padding-bottom: 0;
    font-size: 14px;
    font-family: fontsubtitles;
    color: #ffffff;
}


.class-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 100px;
    background-color: #d0d0d0;
    padding: 5px;
}

.class-icon svg,
.class-icon img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    color: #ffffff;
}