.card-task-details-docent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    background-color: #ffffff;
    border-radius: 16px;
    &.task {
        border-left: 6px solid #34d399;
    }
    &.material {
        border-left: 6px solid #60a5fa;
    }
    &.announcement {
        border-left: 6px solid #94a3b8;
    }
}

.card-task-details-docent .content-left-card-task {
    display: flex;
    align-items: center;
    gap: 20px;
    & .icon-task {
        width: 40px;
        height: 40px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.task {
            background-color: #d1fae5;
        }
        &.material {
            background-color: #dbeafe;
        }
        &.announcement {
            background-color: #f1f5f9;
        }
        & svg {
            width: 20px;
            height: 20px;
        }
    }
    & .info-task {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    & .info-task .title-type-task {
        font-family: fontSubtitles;
        font-size: 12px;
        &.task {
            color: #1b9f76;
        }
        &.material {
            color: #2563eb;
        }
        &.announcement {
            color: #8793a5;
        }
    }
    & .info-task .title-task {
        font-family: fontTitlesBold;
        font-size: 18px;
    }
}

.content-right-card-task {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
    & .button-action-task {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        padding: 6px 12px;
        border: none;
        outline: none;
        font-family: fontSubtitles;
        border-radius: 8px;
        font-weight: bold;
        transition: all 0.3s ease;
    }
    & svg {
        width: 20px;
        height: 20px;
    }
    & .show {
        color: #24adeb;
        background-color: #e6f6fd;
        &:hover {
            background-color: #d1eaf7;
        }
    }
    & .download {
        color: #ffffff;
        background-color: #059669;
        &:hover {
            background-color: #047857;
        }
    }
}