.header-form-create-resource {
    padding: 22px;
    border-radius: 12px;
    color: #ffffff;
    & .name-current-class {
        font-family: fontSubtitles;
        font-size: 14px;
    }
    & .icon-resource {
        position: absolute;
        top: 40px;
        right: 60px;
        opacity: 0.5;
        & svg {
            width: 60px;
            height: 60px;
        }
    }
    &.task {
        background-color: #34d399;
    }
    &.material {
        background-color: #60a5fa;
    }
    &.announcement {
        background-color: #94a3b8;
    }
}

.title-header-form-create-resource {
    font-family: fontTitlesBold;
}
